.row{
    padding: 15px;
}
div{
    background-color:rgba(240, 224, 0, 0.89);
    text-align: center;
}
/*etiqueta estilo de foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 500px;
    }

    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 48%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 28%;
        top: 450px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-family: fantasy;
    font-size: 27px;
    margin-top: 25%;
    margin-left: 9px;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
    font-weight: bold;
}
p{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}