.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
    margin-right: 0.6em;
}
#logoAP{
    width: 135px;
}
img{
    width: 30px;
    margin-right: 12px;
}

/*para celular*/
@media (max-witdh: 575px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes img{
margin: 0.1em;
}
}