<div class="row">
    <h1>Educación</h1>
    
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación</button>

        <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td> <h3>{{Educacion.descripcionE}}</h3> </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-wrench-adjustable-circle-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" (click)="delete(Educacion.id)">
                            <i class="bi bi-emoji-dizzy"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>