<div class="row">
    <h1>Proyectos Realizados</h1>

   
    <button type="button" class="btn btn-dark" routerLink="/nuevapro" *ngIf="isLogged">
        Agregar Proyecto
    </button>
</div>

<div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyectos of proyectos">
                    <td>
                        <h2>{{Proyectos.nombreP}} </h2>
                    </td>
                    <td><h3>{{Proyectos.descripcionP}}</h3></td>
                    <td *ngIf="isLogged"> 
                        <button class="btn btn-warning" routerLink="/editpro/{{Proyectos.id}}">
                            <i class="bi bi-wrench-adjustable-circle-fill"></i></button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" (click)="delete(Proyectos.id)">
                            <i class="bi bi-emoji-dizzy"></i> </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
