<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
  <div class="login-main-text">
    <h2>Página de ingreso<br></h2>
    <p>Inicia sesión o registrate para acceder.</p>
 

<form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
  <div class="form-outline form-white mb-4">
    <input type="text" id="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario"
      name="nombreUsuario" required />
    <label class="form-label" for="nombreUsuario">Usuarix</label>
  </div>

  <div class="form-outline form-white mb-4">
    <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required />
    <label class="form-label" for="password">Contraseña</label>
  </div>
  <button class="btn btn-outline-light btn-lg px-5" type="submit">INGRESO</button>
  <button class="btn btn-outline-light btn-lg px-5" type="submit">REGISTRO</button>
</form>
</div>
</div>
