<div class="sidenav">
         <div class="login-main-text">
            <h2>Página de ingreso<br> Login Page</h2>
            <p>Loggeáte o registrate para acceder.</p>
            
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Usuario</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Contraseña</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black">Ingreso</button>
                  <button type="submit" class="btn btn-secondary">Registro</button>
               </form>
            </div>
         </div>
      </div>